body {
    background-color: white;
    text-align: center;
}

.MAIN-h1 {
    font-family: arial;
    user-select: none;
    font-size: 55px;
}

#user,
#pass {
    width: 400px;
    height: 40px;
    font-size: 27px;
    margin-bottom: 15px;
}

#login {
    width: 120px;
    height: 35px;
    font-size: 23px;
}

.SubmitButtonContainer,
#status {
    width: 407px;
    margin: 0 auto;
}

.SubmitButtonContainer {
    text-align: right;
    height: 40px;
}

#status {
    font-family: arial;
    text-align: left;
}