body {
    background-color: white;
    text-align: center;
    font-family: arial;
}

.MAIN-h1 {
    font-family: arial;
    user-select: none;
    font-size: 55px;
}

#user,
#pass {
    width: 400px;
    height: 40px;
    font-size: 27px;
    margin-bottom: 15px;
    border-width: 1px;
    border-radius: 0px;
    border-style: solid;
    border-color: gray;
}

#user:focus,
#pass:focus {
    outline: none;
    border-color: gray gray rgb(122, 122, 252) gray;
    border-width: 1px 1px 3px 1px;
    margin-bottom: 13px;
}

#user:hover,
#pass:hover {
    background-color: rgb(247, 245, 245);
}

#create {
    width: 120px;
    height: 35px;
    font-size: 23px;
    user-select: none;
    border-style: solid;
    border-color: rgb(3, 10, 110);
    border-width: 2px;
    border-radius: 0px;
    background-color: rgb(33, 33, 242);
    color: white;
}

.loginButtonContainer,
#status {
    width: 407px;
    margin: 0 auto;
}

.loginButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

#status {
    font-family: arial;
    text-align: left;
    color: red;
    font-size: 17px;
}

.loginButtonContainer {
    font-size: 17px;
    user-select: none;
}